/*font-family: 'Inter', sans-serif;

font-family: 'Roboto Condensed', sans-serif;

font-family: 'Silkscreen', cursive;*/


header h1{
    font-family: Silkscreen;
    font-size: 50px;
}

main{
    font-family: Inter;
    font-weight: 400;
    background-color: gray;
}

section{
    font-family: Roboto Condensed;
    font-weight: 300;
    font-size: 20px;
}

h2 {
    font-size: 40px;
}

h3{
    font-size: 16px;
}

h4{
    font-size: 16px;
}

h5{
    font-size: 15px;
}